version: "3.9"
services:
  db:
    image: postgres:16
    container_name: biwooda-postgres
    environment:
      POSTGRES_DB: umbrella_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PWD}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
volumes:
  db-data: